@keyframes slidein {
  0% {
    transform: translateX(120px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideout {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200px);
  }
}
@keyframes pop {
  0% {
    transform: scale(1.7);
  }
  50% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}
