@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Signika:wght@100;200;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&family=Poppins:wght@100;300;400;500;600;700&display=swap");
@-webkit-keyframes slidein {
  0% {
    transform: translateX(120px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slidein {
  0% {
    transform: translateX(120px);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes slideout {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200px);
  }
}
@keyframes slideout {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200px);
  }
}
@-webkit-keyframes pop {
  0% {
    transform: scale(1.7);
  }
  50% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pop {
  0% {
    transform: scale(1.7);
  }
  50% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes popimg {
  0% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes popimg {
  0% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes popup {
  0% {
    scale: 3;
  }
  30% {
    scale: 5;
  }
  70% {
    scale: 2;
  }
  100% {
    scale: 0.85;
  }
}
@keyframes popup {
  0% {
    scale: 3;
  }
  30% {
    scale: 5;
  }
  70% {
    scale: 2;
  }
  100% {
    scale: 0.85;
  }
}
@-webkit-keyframes fadename {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  15% {
    opacity: 0.95;
  }
  20% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.8;
  }
  30% {
    opacity: 0.1;
  }
  35% {
    opacity: 1;
  }
  40% {
    opacity: 0.9;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0.1;
  }
  65% {
    opacity: 0.9;
  }
  70% {
    opacity: 0;
  }
  74% {
    opacity: 0;
  }
  75% {
    opacity: 0.9;
  }
  79% {
    opacity: 0.9;
  }
  80% {
    opacity: 0.5;
  }
  90% {
    opacity: 0.7;
  }
  95% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadename {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  15% {
    opacity: 0.95;
  }
  20% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.8;
  }
  30% {
    opacity: 0.1;
  }
  35% {
    opacity: 1;
  }
  40% {
    opacity: 0.9;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0.1;
  }
  65% {
    opacity: 0.9;
  }
  70% {
    opacity: 0;
  }
  74% {
    opacity: 0;
  }
  75% {
    opacity: 0.9;
  }
  79% {
    opacity: 0.9;
  }
  80% {
    opacity: 0.5;
  }
  90% {
    opacity: 0.7;
  }
  95% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes inv {
  0% {
    width: 0;
  }
  100% {
    width: auto;
  }
}
@keyframes inv {
  0% {
    width: 0;
  }
  100% {
    width: auto;
  }
}
@-webkit-keyframes rotateinf {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
@keyframes rotateinf {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
@-webkit-keyframes rotaterev {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -360deg;
  }
}
@keyframes rotaterev {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -360deg;
  }
}
@-webkit-keyframes wrench {
  80% {
    rotate: -15deg;
  }
  100% {
    rotate: 5deg;
  }
}
@keyframes wrench {
  80% {
    rotate: -15deg;
  }
  100% {
    rotate: 5deg;
  }
}
@-webkit-keyframes hide {
  0% {
    opacity: 0;
    translate: -120px 0;
    z-index: -20;
  }
  100% {
    translate: 0;
  }
}
@keyframes hide {
  0% {
    opacity: 0;
    translate: -120px 0;
    z-index: -20;
  }
  100% {
    translate: 0;
  }
}
@-webkit-keyframes hide2 {
  0% {
    opacity: 0;
    translate: -150px 0;
    z-index: -20;
  }
  30% {
    opacity: 0;
  }
  100% {
    translate: 0;
  }
}
@keyframes hide2 {
  0% {
    opacity: 0;
    translate: -150px 0;
    z-index: -20;
  }
  30% {
    opacity: 0;
  }
  100% {
    translate: 0;
  }
}
@-webkit-keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(500px);
  }
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(500px);
  }
}
@-webkit-keyframes slideup {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  13% {
    opacity: 1;
    transform: translateY(0);
  }
  25% {
    transform: translateY(0);
  }
  37% {
    transform: translateY(-2.6rem);
  }
  50% {
    transform: translateY(-2.6rem);
  }
  63% {
    transform: translateY(-5.1rem);
  }
  75% {
    transform: translateY(-5.1rem);
    opacity: 1;
  }
  90% {
    transform: translateY(-5.1rem);
  }
  95% {
    opacity: 0;
  }
  100% {
    transform: translateY(-5.1rem);
    opacity: 0;
  }
}
@keyframes slideup {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  13% {
    opacity: 1;
    transform: translateY(0);
  }
  25% {
    transform: translateY(0);
  }
  37% {
    transform: translateY(-2.6rem);
  }
  50% {
    transform: translateY(-2.6rem);
  }
  63% {
    transform: translateY(-5.1rem);
  }
  75% {
    transform: translateY(-5.1rem);
    opacity: 1;
  }
  90% {
    transform: translateY(-5.1rem);
  }
  95% {
    opacity: 0;
  }
  100% {
    transform: translateY(-5.1rem);
    opacity: 0;
  }
}
@-webkit-keyframes navAnim {
  0% {
    opacity: 0;
    height: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    height: 100%;
    transform: translateY(0);
  }
}
@keyframes navAnim {
  0% {
    opacity: 0;
    height: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    height: 100%;
    transform: translateY(0);
  }
}
@-webkit-keyframes themeAnim {
  0% {
    width: 0;
    transform: translateX(100%);
  }
  100% {
    width: -webkit-fit-content;
    width: fit-content;
    transform: translateX(0);
  }
}
@keyframes themeAnim {
  0% {
    width: 0;
    transform: translateX(100%);
  }
  100% {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    transform: translateX(0);
  }
}
@-webkit-keyframes fadeup {
  0% {
    opacity: 0;
  }
  50% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 0.7;
  }
}
@keyframes fadeup {
  0% {
    opacity: 0;
  }
  50% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 0.7;
  }
}
@-webkit-keyframes slideFromTop {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes slideFromTop {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@-webkit-keyframes slideFromBottom {
  0% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}
@keyframes slideFromBottom {
  0% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@-webkit-keyframes fadeout {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
@keyframes fadeout {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.fonts {
  font-family: "Poppins", sans-serif;
  font-family: "Caveat", cursive;
  font-family: "Montserrat", sans-serif;
  font-family: "Signika", sans-serif;
}

body {
  position: relative;
  font-family: "Poppins", sans-serif;
  color: var(--white);
  background: var(--navy);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --primary: rgb(102, 252, 241);
  --primary-dark: #45a29e;
  --secondary: #1f2833;
  --secondary-dark: #152f3d;
  --svg-light: rgb(102, 252, 241);
  --svg-stroke: rgb(102, 252, 241);
  --logo-text: white;
  --logo-stroke: rgb(102, 252, 241);
  --about-background: #152f3d;
  --about-text: var(--primary);
  --button-bg-hover: var(--primary);
  --button-color-hover: #1f2833;
  --education: #152f3d;
  --black: #0b0c10;
  --gray: #c5c6c7;
  --white: #feffff;
  --navy: #030712;
  --ed-h2: var(--primary);
  --card-bg: var(--navy);
  --card-h3: var(--primary);
  --footer-bg: var(--secondary-dark);
  --stack-border: var(--primary);
  --stack-hover: var(--secondary-dark);
  --skills-bg: var(--secondary-dark);
  --footer-text-color: var(--white);
  --gradient: linear-gradient(
    30deg,
    rgb(102, 252, 241) 44%,
    rgb(181, 243, 243) 100%
  );
  --card-shadow: 0 0 5px 2px var(--secondary-dark);
}

.green {
  --primary: rgb(12, 167, 161);
  --primary-dark: #45867f;
  --secondary: rgb(131, 205, 202);
  --secondary-dark: #ebf6f5;
  --svg-light: rgb(12, 167, 161);
  --svg-stroke: rgb(12, 167, 161);
  --svg-dark: #6dc6bd;
  --logo-text: rgb(6, 60, 58);
  --logo-stroke: #45867f;
  --about-background: #ebf6f5;
  --about-text: var(--primary);
  --button-bg-hover: #ebf6f5;
  --button-color-hover: rgb(6, 60, 58);
  --education: #ebf6f5;
  --ed-h2: var(--primary);
  --card-bg: var(--navy);
  --card-h3: var(--primary);
  --footer-bg: var(--secondary-dark);
  --stack-border: var(--primary);
  --stack-hover: var(--secondary-dark);
  --skills-bg: var(--secondary-dark);
  --footer-text-color: var(--white);
  --gradient: linear-gradient(
    30deg,
    rgba(15, 195, 189, 1) 44%,
    rgba(254, 255, 255, 1) 100%
  );
  --card-shadow: 0 0 10px 5px var(--secondary-dark);
  --white: rgb(6, 60, 58);
  --navy: #ffffff;
}

.lavender {
  --primary: rgb(141 84 151);
  --secondary-dark: #e0caff;
  --secondary: #d0bdf4;
  --svg-light: #c5b0e3;
  --svg-stroke: #976de8;
  --logo-text: rgb(141 84 151);
  --logo-stroke: rgb(79 35 88);
  --about-background: #ddbfe3;
  --about-text: var(--primary);
  --button-bg-hover: #ddbfe3;
  --button-color-hover: #4f2358;
  --education: #d7cfe4;
  --black: black;
  --white: rgb(79, 35, 88);
  --navy: #f5f8fd;
  --ed-h2: var(--primary);
  --card-bg: #fdf5ff;
  --card-h3: rgb(141 84 151);
  --footer-bg: #ddbfe3;
  --stack-border: rgb(201 146 211);
  --stack-hover: rgb(247 202 255);
  --skills-bg: #d5c7e9;
  --footer-text-color: var(--white);
  --gradient: linear-gradient(30deg, var(--primary) 44%, var(--education) 100%);
  --card-shadow: 0 0 5px 2px var(--secondary-dark);
  --primary-dark: rgb(128, 67, 113);
}

.whiteblue {
  --primary: rgb(0, 171, 179);
  --primary-dark: rgb(8, 136, 142);
  --secondary: rgb(45, 110, 113);
  --secondary-dark: rgb(214, 238, 239);
  --svg-light: rgb(0, 171, 179);
  --svg-stroke: rgb(0, 171, 179);
  --logo-text: rgb(5, 75, 79);
  --logo-stroke: rgb(0, 171, 179);
  --button-bg-hover: rgb(8, 136, 142);
  --button-color-hover: rgb(0, 171, 179);
  --education: rgb(214, 238, 239);
  --about-background: rgb(214, 238, 239);
  --about-text: var(--primary);
  --black: black;
  --white: rgb(5, 75, 79);
  --navy: rgb(255, 255, 255);
  --ed-h2: var(--primary);
  --card-bg: var(--navy);
  --card-h3: var(--primary);
  --footer-bg: var(--secondary-dark);
  --stack-border: var(--primary);
  --stack-hover: var(--secondary-dark);
  --skills-bg: var(--secondary-dark);
  --footer-text-color: var(--white);
  --gradient: linear-gradient(
    30deg,
    var(--primary) 44%,
    var(--primary-dark) 100%
  );
  --card-shadow: 0 0 5px 2px var(--secondary-dark);
}

.orange {
  --primary: hsl(26, 100%, 55%);
  --primary-dark: hsl(26, 47%, 46%);
  --secondary: hsl(25, 100%, 94%);
  --secondary-dark: hsl(25, 100%, 94%);
  --svg-light: hsl(22.5, 98.8%, 67.3%);
  --svg-stroke: hsl(0, 0%, 100%);
  --logo-text: rgb(255, 151, 72);
  --logo-stroke: rgb(41, 44, 49);
  --about-background: rgb(251 224 203);
  --about-text: var(--primary);
  --ed-h2: hsl(26deg 83% 59%);
  --card-bg: var(--navy);
  --card-h3: var(--primary);
  --footer-bg: hsl(26deg 87% 89%);
  --stack-border: var(--primary);
  --skills-bg: var(--secondary-dark);
  --stack-hover: var(--secondary-dark);
  --footer-text-color: var(--white);
  --button-bg-hover: rgb(255 125 26);
  --button-color-hover: rgb(29 32 37);
  --education: rgb(253 237 225);
  --gradient: linear-gradient(
    45deg,
    var(--primary) 26%,
    var(--secondary-dark) 82%
  );
  --white: hsl(220, 13%, 13%);
  --navy: hsl(0, 0%, 100%);
  --card-shadow: 0 0 5px rgb(255 216 186);
}

.theme {
  --primary: #3aafa9;
  --primary--dark: #2b7a7b;
  --seconday: #def2f1;
  --black: #17252a;
  --gray: #c5c6c7;
  --white: #feffff;
  --navy: #030712;
}

.logo {
  font-family: "Montserrat", sans-serif;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  color: var(--primary);
  cursor: pointer;
}

.name {
  pointer-events: none;
  font-family: "Montserrat";
  color: var(--white);
  line-height: 1.7;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  flex-direction: column;
  font-weight: 300;
  text-transform: uppercase;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--secondary);
  min-height: 6rem;
  -webkit-animation: navAnim 2s ease-in-out;
          animation: navAnim 2s ease-in-out;
}

.links, .contact .links {
  margin-right: 10rem;
  font-size: 1.5rem;
  display: flex;
}
.links ul, .contact .links ul {
  display: flex;
  align-items: center;
  min-height: 4rem;
  gap: 2rem;
}
.links ul li, .contact .links ul li {
  position: relative;
  padding-bottom: 5px;
  margin-bottom: 5px;
  display: inline;
  list-style: none;
  transform-origin: center;
  transition: all 250ms ease-in;
}
.links ul li:hover {
  scale: 1.05;
  color: var(--primary);
  cursor: pointer;
}
.links ul li::before, .contact .links ul li::before {
  transform: scaleX(0);
  transform-origin: center;
}
.links ul li::before, .contact .links ul li::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  border-bottom: 2px solid var(--primary);
  z-index: -1;
  transition: transform 0.3s ease;
}
.links ul li:hover::before, .links ul li:focus::before {
  width: 100%;
  transform: scaleX(1);
  transform-origin: center;
}
.links ul li a, .contact .links ul li a {
  text-decoration: none;
  color: inherit;
}

.logoi {
  margin: 2rem 0 0 2rem;
  padding-bottom: 10px;
  cursor: pointer;
  transition: scale 0.3s ease;
}
.logoi .img {
  width: 13rem;
}
.logoi .img .text-color {
  fill: var(--logo-text) !important;
}
.logoi .img .text-stroke {
  stroke: var(--logo-stroke);
}
.logoi .img .text.fill {
  fill: var(--logo-text);
}
.logoi:hover {
  scale: 1.15;
}

.menu {
  display: none;
  -webkit-animation: pop 0.5s ease;
          animation: pop 0.5s ease;
}

/* MEDIA QUERIES */
@media (min-width: 650px) and (max-width: 1024px) {
  .menu {
    display: none;
    -webkit-animation: pop 0.5s ease;
            animation: pop 0.5s ease;
  }
}
@media (max-width: 650px) {
  .navbar {
    height: 4rem;
    -webkit-animation: fade 2s ease-in-out;
            animation: fade 2s ease-in-out;
  }
  .links, .contact .links {
    display: none;
  }
  .overlay {
    opacity: 0.2;
  }
  .menu {
    display: inline-block;
    color: var(--primary);
    font-size: 2rem;
    margin-right: 2rem;
    cursor: pointer;
    -webkit-animation: pop 0.5s ease;
            animation: pop 0.5s ease;
  }
  .menu--links {
    height: 100vh;
    width: 50vw;
    background-color: var(--navy);
    /* background-color: var(--secondary); */
    position: fixed;
    top: 71px;
    right: 0;
    font-size: 1.5rem;
    /* transition: all 0.5s; */
    -webkit-animation: slidein 0.3s ease;
            animation: slidein 0.3s ease;
    z-index: 10;
  }
  .menu--links ul {
    display: flex;
    flex-direction: column;
    min-height: 4rem;
  }
  .menu--links li {
    border-bottom: 1px solid var(--secondary);
    display: inline;
    min-height: 2.5rem;
    list-style: none;
    transform-origin: center;
    transition: all 200ms ease-in;
    padding: 1rem 1rem 1rem 2rem;
  }
  .menu--links li:hover, .menu--links li:focus {
    background-color: var(--secondary);
    color: var(--primary);
    cursor: pointer;
  }
  .menu--links li:first-child {
    border-bottom: none;
    background-color: transparent;
  }
  .menu--links li:first-child:hover, .menu--links li:first-child:focus {
    background-color: transparent;
    color: var(--primary);
  }
  .menu--links li a {
    text-decoration: none;
    color: inherit;
  }
  .menu__btns .fa-xmark {
    font-size: 3rem;
    position: absolute;
    top: -53px;
    right: 16px;
  }
}
.skills--div {
  rotate: -3deg;
  margin-top: 10rem;
  display: flex;
  background-color: var(--navy);
  width: 100%;
}

.skills--div1 {
  padding-right: 1rem;
}

.skills--div2 {
  padding-left: 1rem;
}

.skills--div1,
.skills--div2 {
  width: 100%;
  min-height: 4rem;
  gap: 4rem;
  background-color: var(--skills-bg);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.skill {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}
.skill p {
  font-size: 1.5rem;
  transition: scale 0.3s ease;
}
.skill:hover img, .skill:focus img {
  scale: 3;
  z-index: 2;
}
.skill:hover p {
  scale: 0.5;
}
.skill img {
  width: 1.5rem;
  transition: scale 0.3s ease;
}

@media (min-width: 650px) and (max-width: 1024px) {
  .skills--div {
    flex-wrap: wrap;
    gap: 4rem;
  }
}
@media (max-width: 650px) {
  .skills--div {
    flex-wrap: wrap;
    gap: 4rem;
  }
}
@media (max-width: 550px) {
  .skills--div1,
.skills--div2 {
    gap: 2rem;
    padding: 0 1rem;
  }
}
.HERO-SECTION {
  position: relative;
  overflow-x: hidden;
}

.theme {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: var(--education);
  z-index: 20;
  position: absolute;
  top: 1.5rem;
  right: 0rem;
  justify-content: center;
  min-width: 4rem;
  padding: 1rem 0;
  border-radius: 10px 0 0 10px;
  -webkit-animation: themeAnim 2s ease-in-out;
          animation: themeAnim 2s ease-in-out;
}
.theme div {
  z-index: 2;
  border-radius: 50%;
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  scale: 0.85;
}
.theme div:hover, .theme div:focus {
  scale: 1.15;
}
.theme .green {
  background: linear-gradient(33deg, rgb(15, 195, 189) 50%, rgb(254, 255, 255) 50%);
}
.theme .lavender {
  background: linear-gradient(33deg, rgb(128, 67, 113) 50%, rgb(254, 255, 255) 50%);
}
.theme .navy {
  background: linear-gradient(33deg, rgb(102, 252, 241) 50%, rgb(31, 40, 51) 50%);
}
.theme .orange {
  background: linear-gradient(33deg, rgb(255, 125, 26) 50%, hsl(25deg, 100%, 94%) 50%);
}

.grid--1x2 {
  margin: 3rem auto;
  max-width: 1140px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 5rem;
  transition: all 0.3s ease-in;
}

.intro {
  padding: 0 2.5rem;
}
.intro .hi {
  position: relative;
  -webkit-animation: hide 1s ease;
          animation: hide 1s ease;
}
.intro h1 {
  display: inline-block;
  font-size: 5.5rem;
  background: var(--gradient);
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.4s ease;
  -webkit-animation: fade 2s ease-in-out;
          animation: fade 2s ease-in-out;
}
.intro p {
  position: relative;
  display: inline-block;
  font-size: 600;
  font-size: 5rem;
}
.intro p::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}
.intro p::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: var(--secondary-dark);
  border-top: 1px solid var(--primary);
  border-bottom: 1px solid var(--primary);
  z-index: -1;
  transition: transform 0.3s ease;
}
.intro p:hover::before, .intro p:focus::before {
  width: 100%;
  transform: scaleX(1);
  transform-origin: bottom left;
}
.intro .tag-line {
  font-size: 1.5rem;
  display: block;
  opacity: 0.7;
  -webkit-animation: fadeup 3s ease-in;
          animation: fadeup 3s ease-in;
}
.intro:hover p::before {
  width: 100%;
  transform: scaleX(1);
  transform-origin: bottom left;
}

.name {
  position: relative;
  display: inline-block;
  -webkit-animation: fadename 1.5s ease-in-out;
          animation: fadename 1.5s ease-in-out;
}

.bulb {
  color: var(--white);
  position: absolute;
  top: 5%;
  right: 50%;
}

.intro-2 {
  padding: 0 2.5rem;
  width: 100%;
  position: relative;
}
.intro-2 .img {
  -webkit-animation: popimg 2s ease;
          animation: popimg 2s ease;
  position: relative;
  max-width: 450px;
}
.intro-2 .st0,
.intro-2 .st6,
.intro-2 .st5,
.intro-2 .st7,
.intro-2 .st3,
.intro-2 .st4 {
  fill: var(--svg-light);
}
.intro-2 .st3,
.intro-2 .st4,
.intro-2 .st10 {
  stroke: var(--svg-dark);
}
.intro-2 .quote {
  font-size: 1.3rem;
  display: flex;
  gap: 1rem;
  position: absolute;
  color: var(--secondary-dark);
  bottom: 27%;
  right: 44%;
  font-family: "Caveat";
  z-index: 10;
  rotate: 14deg;
  /* transform: rotate3d(1, 2, 3, 10deg); */
}

@media (min-width: 650px) and (max-width: 1024px) {
  .grid--1x2 {
    padding-bottom: 0;
  }
  .intro {
    padding: 5rem;
  }
  .intro .bulb {
    display: none;
  }
  .intro h1 {
    font-size: 4.5rem;
  }
  .intro p {
    font-size: 3.5rem;
  }
  .intro-2 .quote {
    font-size: 1rem;
    rotate: 14deg;
    bottom: 29%;
    right: 39%;
  }
}
@media (max-width: 650px) {
  .theme {
    min-width: 3.2rem;
  }
  .grid--1x2 {
    padding-bottom: 0;
  }
  .intro h1 {
    font-size: 3.5rem;
    margin: 1rem 1.5rem;
  }
  .intro p {
    font-size: 2.5rem;
  }
  .intro .tag-line {
    font-size: 1.2rem;
  }
  .intro-2 .quote {
    font-size: 0.8rem;
    bottom: 29%;
    right: 33%;
    rotate: 14deg;
  }
  .bulb {
    top: 0%;
    right: 0%;
  }
  .links {
    display: none;
  }
  .overlay {
    opacity: 0.2;
  }
}
@media (max-width: 550px) {
  .fa-lightbulb {
    position: absolute;
    top: 10px;
    right: 40px;
  }
  .intro {
    padding: 0 5rem;
    text-align: center;
    transition: all 0.3s ease;
  }
  .intro h1 {
    position: relative;
    font-size: 4.5rem;
  }
  .intro p {
    font-size: 3.5rem;
    transition: all 0.3s ease;
  }
  .intro .tag-line {
    font-size: 1.5rem;
    transition: all 0.3s ease;
  }
  .intro-2 span {
    width: 100%;
  }
  .intro-2 .img {
    width: 100%;
    max-width: 350px;
  }
  .intro-2 .intro--img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  .intro-2 .intro--img .quote {
    font-size: 1.2rem;
    bottom: 29%;
    right: 37.5%;
    rotate: 14deg;
  }
  .grid--1x2 {
    grid-template-columns: 1fr;
    gap: 5rem;
  }
}
.PROJECTS {
  margin: 10rem auto 5rem auto;
  overflow: hidden;
}
.PROJECTS .heading {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 4rem;
  transition: color, scale 0.5s ease-out;
}
.PROJECTS:hover .heading, .PROJECTS:focus .heading {
  scale: 1.03;
  color: var(--primary);
}

.projects {
  padding-bottom: 1rem;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  min-height: 500px;
}

.project {
  border-radius: 10px;
  padding-bottom: 1rem;
  max-width: 350px;
  background-color: var(--card-bg);
  display: flex;
  flex-direction: column;
  box-shadow: var(--card-shadow);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  -webkit-animation: fade 0.5s ease;
          animation: fade 0.5s ease;
}

.project--wrapper {
  transition: all 0.3s ease-in-out;
}
.project--wrapper:hover {
  scale: 1.03;
}

.project__image {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
  max-height: 250px;
  margin: 1rem 1rem 0;
}
.project__image img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
  height: 175px;
  border-bottom: 1px solid var(--secondary-dark);
}

.project__details {
  transition: all 0.3s ease;
  margin: 0 2rem 2rem;
}
.project__details h3 {
  font-family: "Caveat";
  color: var(--card-h3);
  font-size: 3rem;
  margin: 1rem 0;
}
.project__details p {
  font-family: "Signiks";
  font-size: 1.4rem;
  margin: 1rem 1rem 1rem 0;
  line-height: 2;
}
.project__details .desc {
  position: relative;
}
.project__details i {
  font-size: 1.5rem;
  position: absolute;
  top: 1px;
  right: -5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.project__details i:hover {
  color: var(--primary);
}
.project__details ul {
  display: flex;
  gap: 1rem;
  margin: 2rem 0 0 0;
}
.project__details li {
  display: inline-block;
  text-align: center;
  max-width: 80px;
  padding: 0.3rem 1rem;
  border-radius: 10px;
  background-color: var(--navy);
  border: 0.5px solid var(--stack-border);
  text-transform: uppercase;
  list-style: none;
  transition: all 0.3s ease;
}
.project__details li span {
  visibility: hidden;
  padding: 0 1rem;
  transition: all 0.3s ease;
}
.project__details li:hover {
  color: var(--primary);
  border-color: var(--primary);
}

.project__source {
  align-self: flex-end;
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
  color: var(--gray);
  font-size: 1.5rem;
}
.project__source i {
  transition: color, scale 0.3s ease;
}
.project__source i:hover, .project__source i:focus, .project__source i:focus-visible {
  color: var(--primary);
  scale: 1.2;
}

.features.none {
  display: none;
}

.features {
  transition: all 0.5s ease;
  -webkit-animation: fadename 0.5s ease;
          animation: fadename 0.5s ease;
}
.features ul {
  transform: scale(0.9);
  transition: all 0.5s ease;
}

.tech {
  margin-top: 1.5rem;
  justify-content: space-evenly;
  font-size: 1.3rem;
  display: flex;
}

.tech__btn {
  position: relative;
  display: inline-block;
  border: 1px solid var(--secondary-dark);
  padding: 0.5rem 1rem;
  border-radius: 7px;
  transition: all 0.3s ease;
}
.tech__btn::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}
.tech__btn::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: var(--stack-hover);
  z-index: -1;
  transition: transform 0.3s ease;
}
.tech__btn:hover {
  color: var(--white);
  border-color: var(--stack-border);
}
.tech__btn:hover::before {
  width: 100%;
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media (max-width: 768px) {
  .projects {
    grid-template-columns: 1fr;
  }
  .project--wrapper {
    margin-top: 3rem;
  }
}
@media (min-width: 768px) and (max-width: 1140px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1240px) {
  .project {
    margin-top: 3rem;
  }
}
.education--section {
  margin-bottom: 3.5rem;
}

.education {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.education__image {
  width: 70%;
}
.education__image .heading {
  font-size: 3rem;
  text-align: center;
  margin: 2rem;
  transition: color, scale 0.5s ease-out;
}
.education__image .heading:hover, .education__image .heading:focus {
  color: var(--primary);
}
.education__image .img {
  width: 100%;
  max-width: 700px;
}
.education__image .img .cls-18,
.education__image .img .cls-20 {
  fill: var(--primary);
}
.education__image:hover .heading, .education__image:focus .heading {
  color: var(--primary);
  scale: 1.03;
}

.education__details {
  margin: 0;
  justify-self: flex-start;
  transition: all 0.3s ease;
}
.education__details h2 {
  color: var(--ed-h2);
  font-size: 2.5rem;
  padding: 1rem 0;
  transition: all 0.3s ease;
}
.education__details .degree {
  padding: 1rem 0;
  font-size: 2.2rem;
  transition: all 0.3s ease;
}
.education__details .branch {
  position: relative;
  font-size: 1.8rem;
  padding: 1rem 0;
  transition: all 0.3s ease;
}
.education__details .branch .stream {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}
.education__details .branch .fa-gear {
  opacity: 0.5;
  font-size: 2rem;
  -webkit-animation: rotateinf 2000ms ease;
          animation: rotateinf 2000ms ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  transition: opacity 0.3s ease;
}
.education__details .branch #gear2 {
  transform: rotate(280deg);
  font-size: 1.95rem;
  translate: -4.5px -6px;
  -webkit-animation: rotaterev 2000ms ease;
          animation: rotaterev 2000ms ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.education__details .grade {
  top: 0;
  bottom: 0;
  font-size: 1.5rem;
  padding: 0 0 4rem 5rem;
  transition: all 0.3s ease;
}
.education__details .grade .cgpa {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}
.education__details .grade .points {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.btech,
.diploma {
  padding: 0 2rem;
  position: relative;
  transition: all 0.5s ease;
}
.btech:hover, .btech:focus,
.diploma:hover,
.diploma:focus {
  background-color: var(--education);
  border-radius: 10px;
  scale: 1.01;
  transition: all 0.5s ease;
}
.btech:hover .stream, .btech:focus .stream,
.diploma:hover .stream,
.diploma:focus .stream {
  opacity: 0.7;
}
.btech:hover .fa-gear, .btech:focus .fa-gear,
.diploma:hover .fa-gear,
.diploma:focus .fa-gear {
  opacity: 0.9;
  color: var(--primary);
}
.btech:hover .grade, .btech:focus .grade,
.diploma:hover .grade,
.diploma:focus .grade {
  opacity: 1;
}
.btech:hover .grade .points, .btech:focus .grade .points,
.diploma:hover .grade .points,
.diploma:focus .grade .points {
  opacity: 1;
  color: var(--primary);
}

@media (max-width: 650px) {
  .education {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  .education__details {
    margin: 0 5rem;
  }
  .education__details h2 {
    font-size: 2rem;
  }
  .education__details .degree {
    padding: 0;
    font-size: 1.6rem;
  }
  .education__details .branch {
    font-size: 1.4rem;
    padding: 1rem 0;
    opacity: 0.5;
  }
  .education__details .branch .fa-gear {
    font-size: 1.2rem;
  }
  .education__details .branch #gear2 {
    font-size: 1.18rem;
  }
  .education__details .grade {
    font-size: 1.4rem;
    padding-left: 3rem;
  }
}
@media (min-width: 768px) and (min-width: 1024px) {
  .education__details {
    max-width: 500px;
  }
}
.ABOUT {
  overflow: hidden;
}
.ABOUT .heading {
  font-size: 3rem;
  text-align: center;
  margin: 2rem 0 1rem 0;
  transition: color, scale 0.5s ease-out;
}
.ABOUT:hover .heading, .ABOUT:focus .heading {
  scale: 1.03;
  color: var(--white);
}

.about--section {
  margin: 0 5rem 3rem;
  min-height: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  z-index: -20;
  justify-items: center;
  background-color: var(--navy);
}

.none {
  display: none;
}

.category,
.about {
  max-width: 100%;
  display: grid;
  justify-items: center;
  padding-right: 4rem;
  margin-top: 5rem;
  border-radius: 10px;
  transition: all 0.5s ease-in;
}
.category h2,
.about h2 {
  opacity: 0.2;
  font-size: 2rem;
  padding: 10px 25px;
  transition: all 0.25s ease-in;
  border-radius: 10px 0 0 10px;
}

.category {
  grid-template-columns: auto 1fr;
}

.category__side {
  background-color: var(--navy);
  max-width: 100%;
  justify-self: flex-end;
  z-index: 3;
}
.category__side h2 {
  -webkit-animation: fade 0.5s ease-in;
          animation: fade 0.5s ease-in;
}

.frontend,
.backend,
.others {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  -webkit-animation: hide 0.5s ease-in;
          animation: hide 0.5s ease-in;
  border-radius: 0 10px 10px 0;
}
.frontend h3,
.backend h3,
.others h3 {
  width: 100%;
  display: inline-block;
  padding: 10px 25px;
  font-size: 1.5rem;
}

.frontend {
  background-color: var(--about-background);
}

.about {
  grid-template-columns: auto 1fr;
  padding-left: 0;
  justify-self: flex-start;
}

.about__side {
  justify-self: flex-end;
}
.about__side h2 {
  opacity: 0.2;
}

.list__side {
  justify-self: flex-start;
  max-width: 100%;
  min-width: 18rem;
}

.list__side {
  display: flex;
  letter-spacing: 0.6px;
  width: 100%;
  border-radius: 0 10px 10px 0;
}
.list__side h3 {
  width: 100%;
  transition: color 0.3s ease-in;
}
.list__side h3:hover, .list__side h3:focus {
  color: var(--about-text);
}

.about__details {
  display: flex;
  max-width: 30rem;
  border-radius: 0 10px 10px 0;
}
.about__details p {
  font-size: 1.3rem;
  width: 100%;
  line-height: 2;
  transition: color 0.3s ease-in;
}
.about__details p:hover, .about__details p:focus {
  color: var(--about-text);
}

.about__side {
  z-index: 5;
  background-color: var(--navy);
}

.about__explain,
.interest__explain {
  max-width: 100%;
  min-width: 18rem;
  min-height: 152px;
  padding: 1rem 1rem 1rem 1.5rem;
  border-radius: 0 10px 10px 0;
  -webkit-animation: hide2 0.5s ease-in;
          animation: hide2 0.5s ease-in;
}
.about__explain p,
.interest__explain p {
  width: 100%;
}

.about__explain {
  background-color: var(--about-background);
}

@media (max-width: 768px) {
  .about--section {
    max-width: 100%;
    margin: 0 5rem;
    grid-template-columns: 1fr;
    justify-items: flex-start;
  }
  .category,
.about {
    grid-template-columns: auto 1fr;
    width: 100%;
    min-height: 20rem;
  }
  .category h2,
.about h2 {
    font-size: 1.5rem;
  }
  .about__details {
    max-width: 100%;
    text-align: left;
    justify-self: flex-start;
    letter-spacing: 0.6px;
  }
}
.footer--section {
  background-color: var(--footer-bg);
  color: var(--footer-text-color);
}

.contact {
  max-width: 1140px;
  display: grid;
  grid-template-columns: 25rem 25rem 1fr;
  margin: 5rem auto 0 auto;
  padding: 1rem 2rem 2rem;
}
.contact h3 {
  font-size: 2rem;
  margin: 1rem;
}
.contact p {
  font-size: 1.5rem;
  margin: 1rem;
}
.contact__icons {
  font-size: 2rem;
  display: none;
  gap: 2rem;
  margin: 1rem;
}
.contact__icons span {
  transition: all 0.5s ease;
}
.contact__icons span .fa-brands,
.contact__icons span .fa-solid {
  transition: all 0.5s ease;
}
.contact__icons span:hover .fa-linkedin, .contact__icons span:focus .fa-linkedin {
  scale: 1.5;
  color: #0077b5;
}
.contact__icons span:hover .fa-instagram, .contact__icons span:focus .fa-instagram {
  scale: 1.5;
  color: #e95950;
}
.contact__icons span:hover .fa-envelope, .contact__icons span:focus .fa-envelope {
  scale: 1.5;
  color: #ea4335;
}
.contact__icons span:hover .fa-github, .contact__icons span:focus .fa-github {
  scale: 1.5;
  color: black;
}

.dev {
  padding-left: 1rem;
  font-size: 1.5rem;
}

.page--sections {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.stack {
  display: inline-block;
  height: 1.8rem;
  overflow: hidden;
}
.stack__skill {
  padding: 1px 0;
  -webkit-animation: slideup 10s linear;
          animation: slideup 10s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.social {
  font-size: 2rem;
  display: flex;
  gap: 2rem;
  margin: 1rem;
  flex-direction: column;
}
.social__detail {
  text-align: left;
  display: flex;
  justify-content: space-between;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  gap: 2rem;
  font-size: 1.3rem;
}
.social__detail img {
  width: 2rem;
  color: black;
}
.social__detail span {
  transition: color 0.3s linear;
}
.social__detail i {
  transition: all 0.3s linear;
}
.social__detail:hover, .social__detail:focus {
  cursor: pointer;
}
.social__detail:hover span, .social__detail:focus span {
  color: var(--primary);
}
.social__detail:hover .fa-linkedin, .social__detail:focus .fa-linkedin {
  scale: 2;
  color: #0077b5;
}
.social__detail:hover .fa-instagram, .social__detail:focus .fa-instagram {
  scale: 2;
  color: #e95950;
}
.social__detail:hover .fa-envelope, .social__detail:focus .fa-envelope {
  scale: 2;
  color: #ea4335;
}
.social__detail:hover .fa-github, .social__detail:focus .fa-github {
  scale: 2;
  color: black;
}

.connect {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.connect h3 {
  color: var(--secondary-dark);
  position: relative;
  font-size: 1.6rem;
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: var(--primary-dark);
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  z-index: 6;
}
.connect h3::before {
  z-index: -2;
}
.connect h3::before {
  content: " ";
  position: absolute;
  height: 0;
  width: 0;
  border-radius: 0.5rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  transition: all 0.3s ease;
}
.connect h3:hover::before, .connect h3:focus::before {
  background-color: var(--button-bg-hover);
  scale: 1.1;
}
.connect h3:hover::before, .connect h3:focus::before {
  height: 100%;
  width: 100%;
}
.connect h3:hover, .connect h3:focus {
  color: var(--button-color-hover);
  translate: 5px -5px 0;
  scale: 1.1;
  box-shadow: 0 0 15px #333;
}

.contact .links {
  flex-direction: column;
  font-size: 1.3rem;
}
.contact .links ul {
  flex-direction: column;
  gap: 1rem;
}
.contact .links ul li {
  border-bottom: none;
  padding: 0;
  opacity: 0.75;
}
.contact .links ul li:hover, .contact .links ul li:focus {
  scale: 1;
  opacity: 1;
}
.contact .links ul li::before {
  border-bottom: none;
}

.phone {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .contact {
    grid-template-columns: 1fr 1fr;
  }
  .contact__icons {
    display: flex;
  }
  .page--sections {
    display: none;
  }
  .stack__skill {
    padding: 1.5px 0;
  }
}
.resume {
  display: flex;
  width: 100vw;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 33;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-animation: slideFromTop 2s ease;
          animation: slideFromTop 2s ease;
  -ms-overflow-style: none;
  scrollbar-width: none;
  transition: width 0.3s ease;
}
.resume__img {
  position: relative;
  margin: 3rem;
}
.resume__img .ic {
  display: flex;
  gap: 3rem;
  font-size: 2rem;
  position: absolute;
  align-items: center;
  top: 0;
  right: -8vw;
}
.resume__img .ic i {
  cursor: pointer;
  transition: all 0.25s ease-in;
}
.resume__img .ic i:hover, .resume__img .ic i:focus, .resume__img .ic i:target {
  color: var(--primary);
  scale: 1.3;
}
.resume__img img {
  width: 50vw;
}
.resume::-webkit-scrollbar {
  display: none;
}

.opacity {
  pointer-events: none;
  opacity: 0.2;
}

@media (min-width: 650px) and (max-width: 1000px) {
  .resume .ic {
    gap: 2rem;
    top: -2rem;
    right: -10vw;
    font-size: 2rem;
  }
  .resume img {
    width: 70vw;
  }
}
@media (max-width: 650px) {
  .resume {
    top: 5rem;
  }
  .resume__img .ic {
    z-index: 9;
    gap: 3rem;
    top: -3rem;
    right: 1rem;
  }
  .resume__img img {
    width: 95vw;
  }
}
.portfolio {
  margin: 0 auto;
}

.none {
  display: none;
}

/* @media (min-width: 650px) and (max-width: 1024px) {}
@media (max-width: 650px) {}
@media (max-width: 550px) {} */
/* width */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: var(--secondary-dark);
  box-shadow: inset 0 0 5px var(--secondary);
}

/* Track */
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-dark);
  border-radius: 10px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}/*# sourceMappingURL=styles.css.map */