@keyframes slidein {
  0% {
    transform: translateX(120px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideout {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200px);
  }
}
@keyframes pop {
  0% {
    transform: scale(1.7);
  }
  50% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes popimg {
  0% {
    transform: scale(0.96);
  }
  // 50% {
  //   transform: scale(0.9);
  // }
  100% {
    transform: scale(1);
  }
}

@keyframes popup {
  0% {
    scale: 3;
  }
  30% {
    scale: 5;
  }
  70% {
    scale: 2;
  }
  100% {
    scale: 0.85;
  }
}

@keyframes fadename {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  15% {
    opacity: 0.95;
  }
  20% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.8;
  }
  30% {
    opacity: 0.1;
  }
  35% {
    opacity: 1;
  }
  40% {
    opacity: 0.9;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0.1;
  }
  65% {
    opacity: 0.9;
  }
  70% {
    opacity: 0;
  }
  74% {
    opacity: 0;
  }
  75% {
    opacity: 0.9;
  }
  79% {
    opacity: 0.9;
  }
  80% {
    opacity: 0.5;
  }
  90% {
    opacity: 0.7;
  }
  95% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes inv {
  0% {
    width: 0;
  }

  100% {
    width: auto;
  }
}

@keyframes rotateinf {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
@keyframes rotaterev {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -360deg;
  }
}

@keyframes wrench {
  80% {
    rotate: -15deg;
  }
  100% {
    rotate: 5deg;
  }
}
@keyframes hide {
  0% {
    opacity: 0;
    translate: -120px 0;
    z-index: -20;
  }
  100% {
    translate: 0;
  }
}
@keyframes hide2 {
  0% {
    opacity: 0;
    translate: -150px 0;
    z-index: -20;
  }
  30% {
    opacity: 0;
  }

  100% {
    translate: 0;
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(500px);
  }
}

@keyframes slideup {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  13% {
    opacity: 1;
    transform: translateY(0);
  }

  25% {
    transform: translateY(0);
  }
  37% {
    transform: translateY(-2.6rem);
  }
  50% {
    transform: translateY(-2.6rem);
  }
  63% {
    transform: translateY(-5.1rem);
  }
  75% {
    transform: translateY(-5.1rem);
    opacity: 1;
  }
  90% {
    transform: translateY(-5.1rem);
  }
  95% {
    opacity: 0;
  }
  100% {
    transform: translateY(-5.1rem);

    opacity: 0;
  }
}
