@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Signika:wght@100;200;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&family=Poppins:wght@100;300;400;500;600;700&display=swap");

:root {
  --primary: #66fcf1;
  --primary-dark: #45a29e;
  --secondary: #1f2833;
  --secondary-dark: #152f3d;
  --black: #0b0c10;
  --gray: #c5c6c7;
  --white: #feffff;
  --navy: #030712;
}

.theme {
  --primary: #3aafa9;
  --primary--dark: #2b7a7b;
  --seconday: #def2f1;
  --black: #17252a;
  --gray: #c5c6c7;
  --white: #feffff;
  --navy: #030712;
}
