@use "../partials/mixins" as *;

.logo {
  font-family: "Montserrat", sans-serif;
  max-width: fit-content;
  @include flexcenter;
  font-size: 5rem;
  color: var(--primary);
  cursor: pointer;
}

.name {
  pointer-events: none;
  font-family: "Montserrat";
  color: var(--white);
  line-height: 1.7;
  @include flexcenter;
  font-size: 1.3rem;
  flex-direction: column;
  font-weight: 300;
  text-transform: uppercase;
}

.navbar {
  @include flex(center, space-between);
  border-bottom: 1px solid var(--secondary);
  min-height: 6rem;
  animation: navAnim 2s ease-in-out;
}
.links {
  margin-right: 10rem;
  font-size: 1.5rem;
  display: flex;

  ul {
    @include flexAlign;
    min-height: 4rem;
    gap: 2rem;

    li {
      position: relative;
      padding-bottom: 5px;
      margin-bottom: 5px;
      display: inline;
      list-style: none;
      transform-origin: center;
      transition: all 250ms ease-in;

      &:hover {
        scale: 1.05;
        // border-bottom: 2px solid var(--white);
        color: var(--primary);
        cursor: pointer;
      }

      &::before {
        transform: scaleX(0);
        transform-origin: center;
      }
      &::before {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        inset: 0 0 0 0;
        // background: var(--secondary-dark);
        // border-top: 1px solid var(--primary);
        border-bottom: 2px solid var(--primary);
        z-index: -1;
        transition: transform 0.3s ease;
      }
      // &:hover {
      //   color: #efd4d1;
      // }
      &:hover::before,
      &:focus::before {
        width: 100%;
        transform: scaleX(1);
        transform-origin: center;
      }
      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}
.logoi {
  margin: 2rem 0 0 2rem;
  padding-bottom: 10px;
  cursor: pointer;
  transition: scale 0.3s ease;

  .img {
    width: 13rem;

    .text-color {
      fill: var(--logo-text) !important;
    }
    .text-stroke {
      stroke: var(--logo-stroke);
    }
    .text.fill {
      fill: var(--logo-text);
    }
  }

  &:hover {
    scale: 1.15;
  }
}

.menu {
  // position: fixed;
  display: none;
  animation: pop 0.5s ease;
}

/* MEDIA QUERIES */

@media (min-width: 650px) and (max-width: 1024px) {
  .menu {
    display: none;
    animation: pop 0.5s ease;
  }
}

@media (max-width: 650px) {
  .navbar {
    height: 4rem;

    animation: fade 2s ease-in-out;
  }
  .links {
    display: none;
  }
  .overlay {
    opacity: 0.2;
  }
  .menu {
    display: inline-block;
    color: var(--primary);
    font-size: 2rem;
    margin-right: 2rem;
    cursor: pointer;
    animation: pop 0.5s ease;
  }

  .menu--links {
    height: 100vh;
    width: 50vw;
    background-color: var(--navy);
    /* background-color: var(--secondary); */
    position: fixed;
    top: 71px;
    right: 0;
    font-size: 1.5rem;
    /* transition: all 0.5s; */
    animation: slidein 0.3s ease;
    z-index: 10;
    ul {
      display: flex;
      flex-direction: column;
      min-height: 4rem;
    }

    li {
      border-bottom: 1px solid var(--secondary);
      display: inline;
      min-height: 2.5rem;
      list-style: none;
      transform-origin: center;
      transition: all 200ms ease-in;
      padding: 1rem 1rem 1rem 2rem;

      &:hover,
      &:focus {
        background-color: var(--secondary);
        color: var(--primary);
        cursor: pointer;
      }

      &:first-child {
        border-bottom: none;
        background-color: transparent;
      }

      &:first-child:hover,
      &:first-child:focus {
        background-color: transparent;
        color: var(--primary);
      }

      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
  .menu__btns {
    .fa-xmark {
      font-size: 3rem;
      position: absolute;
      top: -53px;
      right: 16px;
    }
  }
}
